<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/imagenes/afaLogo.png">
</head>
<body>
    <div class="profile-container">
        <header>
            <img src="../static/imagenes/me.jpg" alt="Foto de Perfil" class="profile-pic">
            <h1>¡Bienvenidos a mi perfil!</h1>
        </header>
        <section class="bio">
            <h2>Soy Fernando Gustavo</h2>
            <p>Hola, soy un entusiasta de la tecnología y me encanta programar en mi tiempo libre.</p>
        </section>
        <section class="interests">
            <h2>Intereses</h2>
            <ul>
                <li>Programación</li>
                <li>Lectura</li>
                <li>Viajes</li>
                <li>Fotografía</li>
            </ul>
        </section>
        <section class="social-links">
            <h2>Encuéntrame en</h2>
            <ul>
                <li><a href="https://i.pinimg.com/736x/3e/0b/d2/3e0bd2baf8ab04250ae59181bdaf2778.jpg" target="_blank">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/fernando-garc%C3%ADa-b874742b7/" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/GustavoGarcia627" target="_blank">GitHub</a></li>
            </ul>
        </section>
        <a href="http://127.0.0.1:5000/logout"> Cerrar sesion</a>
    </div>
</body>
</html>
